* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}
 .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 875px;
    height: 998px;
    margin: 0 auto;
    position: relative;

    .text-section {
      display: flex;
      flex-direction: column;
      justify-content: left;
      max-width: 100%;

      .header-title {
        font-size: 95px;
        text-transform: uppercase;
        color: #ffd738;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        margin: 0;
      }
      .header-title-b{
        font-size: 95px;
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        margin: 0;
      }

      .header-subtitle {
        font-size: 33px;
        text-transform: uppercase;
        color: #363636;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 1px;
        //margin: 14px 0 0 0;
      }
    }

    .image-section {
      max-width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;

      .profile-image {
        //change
        width: 100%;
        height: auto;
        border-radius: 5px;
      }
    }
    //.yellow-column {
    //  width: 805px;
    //  height: 921px;
    //  background-color: #ffd738;
    //  position: absolute;
    //  right: 0;
    //  top: 0;
    //}
  }